@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

:root {
  --purple: #635FC7;
  --light-purple: #A8A4FF;

  --dark: #000112;
  --light-dark: #20212C;

  --dark-gray: #2B2C37;
  --dark-gray-light: #3E3F4E;

  --gray:#828FA3;
  --light-gray: #E4EBFA;

  --white: #FFFFFF;
  --white-gray: #F4F7FD;

  --red: #EA5555;
  --light-red: #FF9898;


  --theme-body: var(--white-gray);
  --theme-navbar: var(--white);
  --theme-borders: var(--light-gray);
  --theme-text: var(--dark);
}

* {
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif !important;
}

button {
  border: none;
  background-color:var(--theme-navbar);
}

body {
  background-color: var(--theme-body) !important;
}


.btn-primary-l {
  background: var(--purple);
  border-radius: 24px;
  width: 255px;
  height: 48px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18.9px;
  text-align: center;
  color: var(--white);
}

.btn-primary-l:hover {
  background-color: var(--light-purple);
}

.btn-primary-s {
  background: var(--purple);
  border-radius: 20px;
  width: 255px;
  height: 40px;
  font-weight: 700;
  font-size: 13px;
  line-height: 23px;
  text-align: center;
  color: var(--white);
}

.btn-primary-s:hover {
  background-color: var(--light-purple);
}

.btn-secondary {
  background: rgba(99, 95, 199, 0.1);
  border-radius: 20px;
  width: 255px;
  height: 40px;
  font-weight: 700;
  font-size: 13px;
  line-height: 23px;
  text-align: center;
  color: var(--purple);
}

.btn-secondary:hover {
  background-color: rgba(99, 95, 199, 0.25) ;
}

.btn-destructive {
  background: var(--red);;
  border-radius: 20px;
  width: 255px;
  height: 40px;
  font-weight: 700;
  font-size: 13px;
  line-height: 23px;
  text-align: center;
  color: var(--white);
}

.btn-destructive:hover {
  background-color: var(--light-red);
}

.gray-text {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  line-height: 22.68px;
  color: var(--gray);
}


/* Navbar */

.navbar.bg-light {
  border: none;
  border-bottom: 1px solid var(--theme-borders) !important;
  background-color: var(--theme-navbar)!important;

}

.navbar-brand {
  border-right: 1px solid var(--theme-borders);
  padding-right: 30px;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  width: 184px;
  transition: width 0.4s 0.2s ease;
}

.navbar-brand.extended {
  width: 276px !important;
}

.task-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30.24px;
  margin: auto 0;
  color: var(--theme-text) !important;
}

.btn-primary-l.add-task  {
  width: 164px;
  height: 48px;
}


/* Side bar */

.sidebar{
  width: 300px;
  height: 100vh;
  background-color: var(--theme-navbar);
  border-right: 1px solid var(--theme-borders);
  position: relative;
  animation: sidebar-animation 0.5s ease-out;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out, width 0.5s ease-in-out;
}

/* .sidebar.show {
  opacity: 1;
  transform: translateX(0px);
} */

.sidebar.hide {
  opacity: 0;
  transform: translateX(-305px);
  width: 0px;
}

@keyframes sidebar-animation {
  from {
    opacity: 0;
    transform: translateX(-310px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.boards-text {
  font-size: 12px;
  font-weight: 700;
  line-height: 15.12px;
  letter-spacing: 2.4px;
  color: var(--gray);
  padding: 10px 0;
  padding-left: 35px !important;
}

.boards-text p{
  margin-top: 8px;
  margin-bottom: 10px !important;
}

.boards-tasks {
  width: 276px !important;
  height: 48px;
  text-align: center;
  color: var(--gray);
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 15px;
  line-height: 18.9px;
  padding-left: 35px !important;
  cursor: pointer;
}

.boards-tasks:hover {
  opacity: 0.9;
}

.boards-tasks p {
  margin-bottom: 0px !important;
  margin-left: 10px;
}

.board-task-active {
  background-color: var(--purple);
  border-radius: 0px 100px 100px 0px;
  color: var(--white);
}

.create-board {
  margin-left: 10px;
  color: var(--purple);
  font-weight: 700;
}


.sidebar-actions {
  position: absolute;
  bottom: 120px;
  width: 100%;
}

.switch-theme {
  background-color: var(--theme-body);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 48px;
  width: 251px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 40px;
  height: 20px;
  background-color:var(--purple);
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px 3px 5px 3px;
  position: relative;
  cursor: pointer;
  
}

.ball {
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball{
  transform: translateX(20px);
}

.show-sidebar {
  width: 54px;
  height: 48px;
  border-radius: 0px 100px 100px 0px;
  background: var(--purple);
  position: absolute;
  bottom: 50px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.show-sidebar.active {
  opacity: 1;
}

.show-sidebar:hover {
  background-color: var(--light-purple);
}


/* main content */

.main-content {
  /* position: absolute;
  top: 0; */
}